<mat-toolbar color="primary" layout="fill">
  <div>Angular {{ngVersion}} | Angular Material {{matVersion}}</div>
</mat-toolbar>
<mat-card>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
      <div>Author: Alexandre C. Gerona</div>
      <a href="https://www.github.com/altusgerona" target="_blank"><i class="fa fa-github-square"></i></a>
      <a href="https://stackoverflow.com/users/story/3778645" target="_blank"><i class="fa fa-stack-overflow"></i></a>
    </div>
  </mat-card-content>
</mat-card>